<a href="https://colab.research.google.com/github/ManishMadhavan3008/MachineLearning/blob/main/Machine_Learning_%26_Data_Science_Project_2Nov.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1.programing language : Python

2.data visualization: Matplotlib

3.Model building: Sklearn

4.Data Cleaning :pandas

5.backened server : Flask

link : https://github.com/codebasics/py/blob/master/DataScience/BangloreHomePrices/model/banglore_home_prices_final.ipynb

In [ ]:
import numpy as np
import pandas as pd
csv_url = "https://raw.githubusercontent.com/codebasics/py/master/DataScience/BangloreHomePrices/model/bengaluru_house_prices.csv"
df1 = pd.read_csv(csv_url)
print(df1.head())
print(df1.shape)

In [ ]:
#group dataanalysis
df1.groupby('area_type')['area_type'].agg('count')

In [ ]:
#eleimanting columns
df2 = df1.drop(['area_type','availability','society','balcony'],axis='columns')
df2.head()

In [ ]:
#elemenating null
print(df2.isnull().sum())
df3 = df2.dropna()
print("\ndroping all NAn Values\n" + str(df3.isnull().sum()))

In [ ]:
# how to see unique data fields in dataframe :
df3['size'].unique()

# will show unique data but there meaning might the same to need some cleaning of data
as we can see below

 array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)


       4 bedrrom or 4 BHK means the same so we can clean the data using token method to eliminate multi words

       e.g 1 bhk , 2 bhk ... etc

In [ ]:







# creating new colum and add cleaned data by tokenization of 1 space "words"

df3['BHK'] = df3['size'].apply(lambda x: int(x.split(' ')[0])) # we need to convert each cell as per there data Lambda function can do that
df3.head()
# detect any abnormal data need to clean
df3[df3.BHK >=10]# if any thing 10 BHK room

print(df3['BHK'].unique())
print(df3['total_sqft'].unique())
print(df3['bath'].unique())

# identifying issue like this '1133 - 1384'
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True



  print(df3[df3['total_sqft'].apply(is_float)].head(25))
  print("----------------------un organized data below")
  print(df3[~df3['total_sqft'].apply(is_float)].head(25))
  print(df3[~df3['total_sqft'].apply(is_float)].count())
  print(df3['total_sqft'].head(25))
  print(df3.loc[30]) #gives u data at location 30
# solving issue like this '1133 - 1384'
#for that we need to replace this data to mean or average value in all columns data
# for that we can use dedicated function or lambda function or regex.


import re
# Function to separate the numbers
# and alphabets from the given string

def convert_sqfeet_to_num(strin):
    numbers0 = re.findall(r'[0-9]+', strin)
    numbers1 = re.findall(r"\d+\.\d+\s", strin)
    numbers2 = re.findall(r"\d+\s+-\s+\d+" +"|"+"\d+-\s+\d+"+"|"+"\d+\s+-\d+"+"|"+"\d+-\d+", strin)
    #numbers2 = re.findall(r"\d+\s+-\s+\d+ | \d+-\s+\d+ | \d+\s+-\d+ | \d+-\d+ | \d*-", str)
    alphabets = re.findall(r'[a-zA-Z]+', strin)
    Numlen  = len(numbers2)

    # print(f"{numbers0} and length is  {len(numbers0)}")
    # print(f"{numbers1} and length is  {len(numbers1)}")
    # print(f"{numbers2} and length is  {len(numbers2)}")
    # print(*alphabets)


    if Numlen >= 1:
      #return mean value
      token = numbers2[0].split('-')
      mean = (int(token[0]) + int(token[1]) ) /2
      print(float(mean))
      val = (float(mean))
    else:
      if(len(numbers1) >=1):
        val = (float(numbers1[0]))
      else:
        if len(numbers0) >=1:
          val= float(numbers0[0])
        else:
          val =  0.0

    #print(f"val is {val}")
    return val


# Driver code
#str = "45.64 and meter"
# str = "1133 -1384 and meter"
#str = "1133"
#str = "45.64 and meter 1133 - 1384"
#str = "45.64 and 3456 meter 1133- 1384 and 1133 -1384 and 1133-1384 and 1133- orrr -6237"
#val = convert_sqfeet_to_num(str)
DataVal  = ['4125Perch','1133','45.64 and meter','1133 - 1384','1133- 8765', '1133-1384', '5466334-8236']
for Each in DataVal:
  print(Each)
  convert_sqfeet_to_num(Each)

df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sqfeet_to_num)
#after cleaning let see the data

print(df4.loc[30])
print(df4.head(10))
# outlier cleaning from data
df5 = df4.copy()
df5['price_per_sqfeet'] = df5['price']*100000 /df5['total_sqft']
df5.head()